// Colors used across the App
// https://www.figma.com/file/7CGMvUwJVxM4oIA0ht6AuL/FSDS---Core?type=design&node-id=1%3A11&mode=design&t=ACLbTN70Z0QcRo4W-1

// Smoke
$S50: #eaeef2;
$S100: #c9d3db;
$S200: #abb8c4;
$S300: #8e9dac;
$S400: #6f8396;
$S500: #586d7e;
$S600: #485a68;
$S700: #3b4854;
$S800: #303c46;
$S900: #27313b;

// Elephant
$E50: #dff0ff;
$E100: #b4d6f4;
$E200: #97badb;
$E300: #7a9fc3;
$E400: #5685ad;
$E500: #436f91;
$E600: #335a7a;
$E700: #264a67;
$E800: #1b3e59;
$E900: #12334c;

// Azure
$A50: #e0f0fd;
$A100: #b0d5fc;
$A200: #80b9fc;
$A300: #509dfb;
$A400: #2f80eb;
$A500: #2e66d0;
$A600: #2c4fb9;
$A700: #273ca2;
$A800: #1b3092;
$A900: #15257d;

// Jungle
$J50: #daf3ee;
$J100: #9ddfd0;
$J200: #4fc9af;
$J300: #10b08f;
$J400: #009272;
$J500: #00795c;
$J600: #006445;
$J700: #00513f;
$J800: #004435;
$J900: #00382b;

// Casablanca
$C50: #feecd5;
$C100: #fbc88c;
$C200: #f8a34b;
$C300: #ed7d27;
$C400: #cf6121;
$C500: #ac5000;
$C600: #8d4100;
$C700: #723600;
$C800: #622d00;
$C900: #522400;

// Persimmon
$P50: #ffe9ee;
$P100: #ffc2cb;
$P200: #f89ea0;
$P300: #f97071;
$P400: #f33735;
$P500: #cd2629;
$P600: #a62426;
$P700: #891c1e;
$P800: #751618;
$P900: #611112;

// Iris
$I50: #f0ebff;
$I100: #d7cbfe;
$I200: #bfa9fd;
$I300: #a987fc;
$I400: #9561fb;
$I500: #8537fa;
$I600: #7211e3;
$I700: #5d0cbc;
$I800: #4f09a1;
$I900: #410687;

$Milk: #fff;
$Coal: #000;

$neutral-1: #fff;
$neutral-2: #f6f7f8;
$neutral-3: #eceff1;
$dark-neutral-1: #0b0c0d;
$dark-neutral-2: #141617;
$dark-neutral-3: #191a1c;
